@model IEnumerable<QS.Web.Models.ArticleCategoryModel>          
<div class="top-news">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <a href="@Url.Action("Category", "Article", new {category = @item.CategoryTitle})" class="btn @item.ThemeClass">
                <span>@Html.ArticleCategoryFormat(@item.CategoryTitle)</span>
                <em>
                    <i class="fa  fa-thumb-tack"></i>
                    @(item.Count)篇
                </em>
                <i class="fa @item.ThemeIcon top-news-icon"></i>
            </a>
        }
    }   
 
</div>