@model IEnumerable<QS.DTO.SharedModule.ArticleDto>
<ul class="nav sidebar-ranks margin-bottom-40">
    @if (Model != null && Model.Any())
    {
        var count = 0;
        foreach (var item in Model)
        {
            <li><a href="@Url.Action("Item", new{id = @item.ArticleId})" title="@item.ArticleTitle"><span class="badge @(count < 3 ? "" : "badge-success")">@(++count)</span>@item.ArticleTitle</a></li>
        }
    }
</ul>